/*
0 - 600px Phone
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
[1200 - 1800] is where our normal style apply
1800px + : Tablet portrait
?breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em  = 16px
*/
.maring_bottom--small {
  margin-bottom: 1rem !important; }

.maring_bottom--medium {
  margin-bottom: 2rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.header {
  width: 80rem;
  max-width: 100rem;
  margin: 0 auto;
  padding: 3rem 6rem; }
  .header .heading_box {
    text-align: center; }
    .header .heading_box .heading {
      font-size: 3rem;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif; }
  .header form {
    padding: 2rem; }
    .header form .sideBySide {
      display: flex; }
    .header form label {
      display: inline-block;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      background-color: orangered;
      color: white;
      padding: .5rem;
      border-radius: .5rem; }
    .header form select {
      font-size: 2rem;
      padding: 1rem;
      margin-right: 3rem; }
    .header form input {
      font-size: 1.8rem;
      padding: 1rem;
      width: 50%;
      margin-bottom: 1rem; }
      .header form input[type="email"] {
        width: 100%; }
    .header form .skills_selected .skill_label {
      display: flex;
      font-size: 1.3rem;
      background-color: #555555;
      font-family: Arial, Helvetica, sans-serif;
      padding: .5rem;
      color: white;
      width: 20%;
      border-radius: 3rem;
      justify-content: center; }
    .header form .add {
      border: none;
      font-size: 2rem;
      padding: 1rem 2rem;
      background-color: green;
      color: white;
      cursor: pointer;
      width: 30%;
      border-radius: 3rem; }
    .header form .submit {
      display: flex;
      justify-content: center;
      width: 50%;
      padding: 1rem;
      font-size: 1.8rem;
      color: white;
      background-color: #008CBA;
      border: none;
      border-radius: 3rem;
      cursor: pointer; }
